body {
    background-color:white;
}

.banner {
    background: url(../image/../image/Capture.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 69px;
}
.navbar {
    overflow: hidden;
    position: sticky;
    background-color: #33383b;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    top: 0;
  
    padding: 20px;
    width: 97.2%;
}

.navbar a {
    float: left;
    font-size: 26px;
    font-family: 'Amita', cursive;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: capitalize;
}

.centered {
    text-align: center;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/marangu-short-trek.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
    color: rgb(255, 255, 255);
    font-size: 77px;
    margin-top: -6%;
    font-family: 'Truculenta', sans-serif;
  
}
.dropdown {
   
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.dropdown .dropbtn {
    font-size: 26px;
    font-family: 'Amita', cursive;
    color: white;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
 
    margin: 0;
}


.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: rgb(39, 139, 8);
}

.dropdown-content {
    display: none;
     opacity: 0.7;
     padding: 12px 16px;
    min-width:  160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
 
}
.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: rgba(25, 85, 25, 0.911);
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* container */

.container {
    margin-top: 10px;
    border-radius: 15px;
    padding: 5%;
    /* background-color: rgba(44, 92, 17, 0.911);; */
    margin-bottom: -3%;
}

h1 {
    text-align: center;
    /* color: rgba(9, 112, 5, 0.911); */
    font-size: 50px;
    text-transform: uppercase;
    margin-top: -40px;
    font-family: 'Truculenta', sans-serif;
}

h2 {
    color: rgb(8, 83, 11);
    font-size: 40px;
    text-transform: capitalize;
}

p {
    color: black;
    font-size: 23px;
}
.con{ font-size: 18px;}

.img {
    margin-top: 8%;
    margin-bottom: 4%;
    border-radius: 50%;
}

.text {
    text-align: center;
    margin-top: -18%;
}


/* footer */

footer {
    margin-top: 0%;
    bottom: 0;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../image/mkomaz2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.footer-distributed {
    background-color: rgb(3, 82, 3);
    box-shadow: 0 1px 1px 0 rgb(3, 82, 3);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left {
    width: 40%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: #5383d3;
}

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #5383d3;
    text-decoration: none;
    ;
}

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

@media screen and (max-width: 736px) {
    .column {
        width: 100%;
        display: block;
    }
    .footer-distributed {
        font: bold 14px sans-serif;
    }
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
}