body{
    background-color: azure;
}
.banner {
    background: url(../image/Capture.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 69px;
}

.navbar {
    overflow: hidden;
    position: sticky;
    background-color: #33383b;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    top: 0;
  
    padding: 20px;
    width: 97.2%;
}


.centered {
    text-align: center;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/marangu-short-trek.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 12%;
    color: rgb(255, 255, 255);
    font-size: 77px;
    font-family: 'Truculenta', sans-serif;
    animation: slide 50s infinite alternate;
   /* transition: all 5.5s; */
}
 @keyframes slide {
     10% { 
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/herd-zebras-tarangire-park.jpg); 
        background-repeat: no-repeat ;
        background-attachment: fixed;
        background-size: cover; 
    }
     20% { 
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/mikumi7.jpg);background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover; 
    }
    30%{ 
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/4.jpg);background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover; 
    }
    40% { 
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url(../image/9.jpg);background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover; 
    }
    50% { 
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/bird3.jpg);background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover; 
    }
    60% { 
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/idz5.jpg);background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover; 
    }
    
     70% {
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/Tarangire-National-Park.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    80% { 
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/idz12.jpg);background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover; 
    }
    90% { 
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/idz8.jpg);background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover; 
    }
     100% {
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/manyara4.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover; 
    }
 }

h4 {
    margin-top: -20px;
    
}

.p {
    font-size: 30px;

    color: white;
    font-family: 'Truculenta', sans-serif;
}

.navbar a {
    float: left;
    font-size: 26px;
    font-family: 'Amita', cursive;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: capitalize;
}
.dropdown {
   
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.dropdown .dropbtn {
    font-size: 26px;
    font-family: 'Amita', cursive;
    color: white;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
 
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: rgb(39, 139, 8);
}

.dropdown-content {
    display: none;
     opacity: 0.7;
     padding: 12px 16px;
    min-width:  160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
 
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: rgba(25, 85, 25, 0.911);
}

.dropdown:hover .dropdown-content {
    display: block;
}

footer {
   
    bottom: 0;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../image/mkomaz2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.footer-distributed {
    
    box-shadow: 0 1px 1px 0 rgb(3, 82, 3);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left {
    width: 40%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: #5383d3;
}

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #5383d3;
    text-decoration: none;
    ;
}

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.mages {
    cursor: pointer;

}
.mages:hover{
   
    transition: all 1.5s;
   
}
.nav a {
    text-decoration: none;
    text-transform: capitalize;
}

.container {
    border-radius: 10px;
    display: flex;
}

.container-box {
    flex-basis: 30%;
}

.container div {
    
    padding: 27px;
    margin-top: 10px;
    background-color: white;
}

.box1 {
    flex: 10%;
}

.box2 {
    flex: -2%;
    margin-right: 3%;
    margin-left: 3%;
    
}
.pq{
    text-align: center;
    margin-left: 42px;
    margin-right: 30px;
}
.imoj{
width: 70%;
height: 275px;
margin-top: -1.5%;
margin-left: 16%;
    
}
.h2{
    margin-top: 7%;
}

.box3 {
    flex: 1;
}
.abaut{
    width: 80%;
    margin-top: 2px;
    margin-left: 20px;
    cursor: pointer;
}
.abauts{
    width: 80%;
    margin-top: 2px;
    margin-left: 20px;
    cursor: pointer;
}
.abautv{
    width: 80%;
    margin-top: 2px;
    margin-left: 20px;
    cursor: pointer;
}
.our{
    width: 100%;
    margin-top: 35px;
    margin-left: -5%;
    cursor: pointer;
}
.team{
    width: 100%;
    margin-top: 30%;
  cursor: pointer;
    margin-left: -5%;
}

.container1 {
    display: flex;
}

.container1 div {
   
    padding: 40px;
    margin-top: 10px;
    background-color: white;
}

h2 {
    text-align: center;
    text-transform: capitalize;
    font-size: 40px;
    color: rgb(5, 71, 5);
    font-family: 'Akaya Telivigala', cursive;
}

.ct1 {
    flex: 2;
    text-align: center;
}

.ct2 {
    flex: 2;
    margin: 5px;
}

.container2 {
    display: flex;
}

.container2 div {
   
    padding: 50px;
    margin-top: 10px;
    background-color: white;
}
.udi{
    width: 570px;
     height: 400px;
      cursor: pointer;
}

.tc1 {
    flex: 1;
}

.tc2 {
    flex: 2;
}

.tc3 {
    flex: 1;
}
#serengeti{
    width: 80%;
     height: 250px;
}
#mikumi{
    width: 80%;
     height: 250px;
      margin-left: 10%;
}
 
@media screen and (max-width: 640px) {
    .footer-distributed {
        font: bold 14px sans-serif;
    }
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
    .main {
        line-height: normal;
        font-size: auto;
    }
    .dropdown .dropbtn {
        font-size: 26px;
        font-family: 'Amita', cursive;
        color: white;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        margin-left: 10%;
     
        margin: 0;
    }
    .container {
        border-radius: 10px;
        display: inline;
        flex-direction: column;
    }
    .container-box {
   flex-direction: column;
}
.navbar {
    overflow: hidden;
    position: sticky;
    background-color: #33383b;
    top: 0;
  
    padding: 5%;
    width: 97.5%;
}
.navbar a {
    float: left;
    font-size: 20px;
    font-family: 'Amita', cursive;
    color: white;
    text-align: left;
    padding: 10px 16px;
    text-decoration: none;
    text-transform: capitalize;
}

.container div {
    
    padding: 27px;
    margin-top: 10px;
    background-color: white;
}

.box1 {
    flex: 10%;
    flex-direction: column;
}

.box2 {
    flex: -2%;
    flex-direction: column;
    margin-right: 3%;
    margin-left: 3%;
    
}
    
.dropdown-content {
    float: left;
     opacity: 0.7;
     padding: 8px 8px;
    min-width:  60px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1010;
 
}
.dropdown .dropbtn {
    font-size: 26px;
    font-family: 'Amita', cursive;
    color: white;
    text-align: left;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
 
    margin: 0;
}

.dropdown-content a {
    float: left;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown {
   
    overflow: hidden;
    display: inline-block;
}
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
    .main {
        line-height: normal;
        font-size: auto;
    }
    .banner {
        background: url(../image/Capture.PNG);
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 1%;
        padding: 25px;
    }
    .navbar {
        overflow: hidden;
    
     background-color: #33383b;
        top: 0;
       padding-right: 10%;
        padding: 12px;
        width: 93.7%;
    }
    .p {
        font-size: 30px;
        text-align: center;
        color: white;
        font-family: 'Truculenta', sans-serif;
    }
    .container {
        border-radius: 10px;
        display:inline;
    }
    
    .container-box {
        flex-direction: column;
    }
    
    .container div {
        align-content: center;
        padding: 27px;
        margin-top: 10px;
        background-color: white;
    }
    
    .box1 {
        flex: 1;
       ;
    }
    
    .box2 {
        flex: 2;
        margin-right: 3%;
        
    }
    .dropdown {
        float: right;
        overflow: hidden;
    }
    .mages {
        cursor: pointer;
        margin: 0% 10% 0% 10%;
    }
    .pq{
        text-align: center;
        margin-left: 32px;
        margin-right: 10px;
    }
    .imoj{
    width: 100%;
    height: 249px;
    margin-top: 0.5%;
    margin-left: -1.3%;
        
    }
    
.container1 {
    display: flex;
    flex-direction: column;
}

.container1 div {
   
    padding: 40px;
    margin-top: 10px;
    background-color: white;
}

h2 {
    text-align: center;
    text-transform: capitalize;
    font-size: 40px;
    color: rgb(5, 71, 5);
    font-family: 'Akaya Telivigala', cursive;
}
#serengeti{
    width: 120%;
    margin-left: -10%;
}
#mikumi{
    width: 120%;
     height: 250px;
      margin-left: -10%;
}

.ct1 {
    flex: 2;
    text-align: center;
}

.ct2 {
    flex: 2;
}

.container2 {
    display: inline
}

.container2 div {
   
    padding: 50px;
    margin-top: 10px;
    background-color: white;
}

.tc1 {
    flex: 1;
}

.tc2 {
    flex: 2;
}

.tc3 {
    flex: 1;
}

.abaut{
    width: 80%;
    margin-top: 2px;
    margin-left: 38px;
    cursor: pointer;
}
.abauts{
    width: 80%;
    margin-top: 2px;
    margin-left: 38px;
    cursor: pointer;
}
.abautv{
    width: 80%;
    margin-top: 2px;
    margin-left: 38px;
    cursor: pointer;
}
.udi{
    width: 120%;
     height: 250px; 
    cursor: pointer;
    margin-left: -10%;
}
.our{
    width: 100%;
    margin-top: 35px;
    margin-left: 1%;
    cursor: pointer;
}
.team{
    width: 100%;
    margin-top: 30%;
  cursor: pointer;
    margin-left: 1%;
}
.mages {
    cursor: pointer;
    margin-left: -1%;

}
.centered {
    text-align: center;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/marangu-short-trek.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-right: 1%;
    padding: 5%;
    color: rgb(255, 255, 255);
    font-size: 77px;
    font-family: 'Truculenta', sans-serif;
    animation: slide 50s infinite alternate;
   /* transition: all 5.5s; */
}
}