body {
    background-color: #f8f9fa;
    margin-right: 0px;
    padding :0%;
    
}
.centered {
    text-align: center;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/mkomaz9.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 12%;
    color: rgb(255, 255, 255);
    font-size: 77px;
    font-family: 'Truculenta', sans-serif;
    animation: slide 50s infinite alternate;
   /* transition: all 5.5s; */
}
.p {
    font-size: 30px;
    text-align: center;
    color: white;
    font-family: 'Truculenta', sans-serif;
}
.banner {
    background: url(../image/Capture.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 69px;
}

.navbar {
    overflow: hidden;
    position: sticky;
    background-color: #33383b;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    top: 0;
  
    padding: 20px;
    width: 97.2%;
}
.navbar a {
    float: left;
    font-size: 26px;
    font-family: 'Amita', cursive;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: capitalize;
}

.dropdown {
   
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.dropdown .dropbtn {
    font-size: 26px;
    font-family: 'Amita', cursive;
    color: white;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
 
    margin: 0;
}


.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: rgb(39, 139, 8);
}

.dropdown-content {
    display: none;
     opacity: 0.7;
     padding: 12px 16px;
    min-width:  160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
 
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: rgba(25, 85, 25, 0.911);
}

.dropdown:hover .dropdown-content {
    display: block;

}

footer {
   
    bottom: 0;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../image/mkomaz2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.footer-distributed {
   
    box-shadow: 0 1px 1px 0 rgb(61, 61, 61);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left {
    width: 40%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: #5383d3;
}

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #5383d3;
    text-decoration: none;
    ;
}

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.img1 {
    width: 30%;
    height: 320px;
    margin-top: 5%;
    cursor: pointer;
    margin-bottom: -5%;
    margin-left: 7px;
}

.img2 {
    text-align: right;
    width: 33%;
    height: 320px;
    margin-left: 65%;
    margin-top: -70%;
margin-bottom: 4.4%;
    cursor: pointer;
}
h1{
    text-align: center;
color: rgb(26, 80, 26);
}
p{text-align: justify;}
.contena {
    text-align: center;
    margin-left: 32%;
    margin-right: 35%;
    margin-top: -23%;
    padding: 3%;
}

.contena2 {
    text-align: justify;
    margin-right: 70%;
    margin-top: 2%;
 
   
}

.contena3 {
    text-align: justify;
    margin-left: 60%;
    margin-top: -30%;
    margin-bottom: -4%;
   padding: 9.3%;
   
}

.img3 {
    text-align: left;
    width: 30%;
    height: 320px;
    margin-left: 32%;
   
    margin-top: -13%;
    cursor: pointer;
}


.contena4 {
    text-align: left;
    margin-left: 60%;
    margin-top: -23%;
    width: 30%;
    padding: 2%;
    margin-right: 5%;
}

.img4 {
    text-align: left;
    width: 30%;
    margin-left: 8%;
    margin-right: 50%;
    margin-top: 2%;
    cursor: pointer;
}

.contena5 {
    text-align: left;
    margin-right: 60%;
    margin-top: -19%;
    width: 30%;
    padding: 4%;
    margin-left: 5%;
}

.img5 {
    text-align: right;
    width: 30%;
    margin-right: 0%;
    margin-left: 60%;
    margin-top: 5%;
    margin-bottom: 2%;
    cursor: pointer;
}

.img6 {
 
    width: 30%;
    height: 315px;
    margin-left: 68%;
margin-bottom: 1%;
    margin-top: -18%;
    margin-bottom: 5%;
    cursor: pointer;
}
.imge7{
    text-align: justify;
    margin-left: 15%;
    margin-top: -50%;
    margin-right: 0%;
    margin-bottom: 5%;
    width: 30%;
 
}

.contena6 {
    text-align: justify;
    margin-left: 26%;
    margin-top: -27%;
    margin-right: 100%;
    width: 30%;
    padding: 7%;
  
}
.img10{
    width: 30%;
    height: 320px;
    margin-top: 2%;
    cursor: pointer;
    margin-bottom: 0%;
    margin-left: 7px;
}

.contena7 {
    text-align: justify;
    margin-left: 15%;
    margin-top: 3%;
    
    width: 30%;
 
  
}

.img7 {
    
    width: 30%;
    margin-left: 15%;
    margin-top: 2%;
    margin-bottom: 20%;
    cursor: pointer;
}

.contena8 {
    text-align: justify;
    margin-left: 50%;
    margin-top: -60.1%;
  
    width: 30%;
    padding-bottom: 10%;
  
}
h6{
color: rgba(253, 0, 21, 0.836);
font-size: medium;
}
.cont{
    overflow: hidden;
    margin-top: 2%;
    margin-left: 6%;
    margin-bottom: -5%;
}
h3{
    text-align: center;
    margin-top: 6.5%;
    color: green;
    font-size: xx-large;
}
.far{
    width: 30%;
    cursor: pointer;
    margin: 1%;
    height: 250px;
    
}
.fe{
    width: 30%;
    cursor: pointer;
    height: 250px;
    margin: 1%;
}
.fi{
    width: 30%;
    cursor: pointer;
    margin: 1%;
    height: 250px;
}

@media (max-width: 880px) {
    .footer-distributed {
        font: bold 14px sans-serif;
    }
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
    .main {
        line-height: normal;
        font-size: auto;
    }
}